# Geocode School and Tournament Locations

## Import packages and data

In [1]:
import geocoder as gc
import pandas as pd

In [2]:
# import merged data set
tourney = pd.read_csv('../data/cleaned/tourney-metadata.csv')
tourney

,seed,school_common_name,site,year,id,school_full_name,team,city,state,type,conference
0,1.0,Duke,"Columbia, SC",2019.0,20190,Duke University,Blue Devils,Durham,North Carolina,Private/Non-sectarian,Atlantic Coast Conference
1,1.0,Gonzaga,"Salt Lake City, UT",2019.0,20191,Gonzaga University,Bulldogs,Spokane,Washington,Private/Catholic,West Coast Conference
2,1.0,North Carolina,"Columbus, OH",2019.0,20192,University of North Carolina at Chapel Hill,Tar Heels,Chapel Hill,North Carolina,State,Atlantic Coast Conference
3,1.0,Virginia,"Columbia, SC",2019.0,20193,University of Virginia,Cavaliers,Charlottesville,Virginia,State,Atlantic Coast Conference
4,2.0,Michigan State,"Des Moines, IA",2019.0,20194,Michigan State University,Spartans,East Lansing,Michigan,State,Big Ten Conference
...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,"Albuquerque, NM",NaN,1985555,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,"Hartford, CT",NaN,1985556,NaN,NaN,NaN,NaN,NaN,NaN
1117,NaN,NaN,"Tulsa, OK",NaN,1985557,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,"Dayton, OH",NaN,1985558,NaN,NaN,NaN,NaN,NaN,NaN
1119,NaN,NaN,"Salt Lake City, UT",NaN,1985559,NaN,NaN,NaN,NaN,NaN,NaN

## Create address column for schools from concatenated full names, cities, and states

In [3]:
# create address for geocoding by combining school name, city, and state
tourney['address'] = tourney.school_full_name + ' ' + tourney.city + ' ' + tourney.state
tourney

,seed,school_common_name,site,year,id,school_full_name,team,city,state,type,conference,address
0,1.0,Duke,"Columbia, SC",2019.0,20190,Duke University,Blue Devils,Durham,North Carolina,Private/Non-sectarian,Atlantic Coast Conference,Duke University Durham North Carolina
1,1.0,Gonzaga,"Salt Lake City, UT",2019.0,20191,Gonzaga University,Bulldogs,Spokane,Washington,Private/Catholic,West Coast Conference,Gonzaga University Spokane Washington
2,1.0,North Carolina,"Columbus, OH",2019.0,20192,University of North Carolina at Chapel Hill,Tar Heels,Chapel Hill,North Carolina,State,Atlantic Coast Conference,University of North Carolina at Chapel Hill Ch...
3,1.0,Virginia,"Columbia, SC",2019.0,20193,University of Virginia,Cavaliers,Charlottesville,Virginia,State,Atlantic Coast Conference,University of Virginia Charlottesville Virginia
4,2.0,Michigan State,"Des Moines, IA",2019.0,20194,Michigan State University,Spartans,East Lansing,Michigan,State,Big Ten Conference,Michigan State University East Lansing Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,"Albuquerque, NM",NaN,1985555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,"Hartford, CT",NaN,1985556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,NaN,NaN,"Tulsa, OK",NaN,1985557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,"Dayton, OH",NaN,1985558,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,NaN,NaN,"Salt Lake City, UT",NaN,1985559,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Use site column as address for sites

In [4]:
# subset data for rows that are mostly NAs, replace address column with site column
tourney.loc[tourney['seed'].isna(), 'address'] = tourney.site
tourney

,seed,school_common_name,site,year,id,school_full_name,team,city,state,type,conference,address
0,1.0,Duke,"Columbia, SC",2019.0,20190,Duke University,Blue Devils,Durham,North Carolina,Private/Non-sectarian,Atlantic Coast Conference,Duke University Durham North Carolina
1,1.0,Gonzaga,"Salt Lake City, UT",2019.0,20191,Gonzaga University,Bulldogs,Spokane,Washington,Private/Catholic,West Coast Conference,Gonzaga University Spokane Washington
2,1.0,North Carolina,"Columbus, OH",2019.0,20192,University of North Carolina at Chapel Hill,Tar Heels,Chapel Hill,North Carolina,State,Atlantic Coast Conference,University of North Carolina at Chapel Hill Ch...
3,1.0,Virginia,"Columbia, SC",2019.0,20193,University of Virginia,Cavaliers,Charlottesville,Virginia,State,Atlantic Coast Conference,University of Virginia Charlottesville Virginia
4,2.0,Michigan State,"Des Moines, IA",2019.0,20194,Michigan State University,Spartans,East Lansing,Michigan,State,Big Ten Conference,Michigan State University East Lansing Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,"Albuquerque, NM",NaN,1985555,NaN,NaN,NaN,NaN,NaN,NaN,"Albuquerque, NM"
1116,NaN,NaN,"Hartford, CT",NaN,1985556,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
1117,NaN,NaN,"Tulsa, OK",NaN,1985557,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
1118,NaN,NaN,"Dayton, OH",NaN,1985558,NaN,NaN,NaN,NaN,NaN,NaN,"Dayton, OH"
1119,NaN,NaN,"Salt Lake City, UT",NaN,1985559,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake City, UT"

In [64]:
# for i in tourney.address:
#     print(i)
#     x = gc.osm(i)
# print(x)

# x = tourney[tourney.school_common_name == 'Kentucky']
# x

# for i in x.address:
# tmp = [gc.osm(i) for i in x.address]
# print(tmp)
# z = [i.osm for i in tmp]
# z
# print(gc.osm('Morgantown West Virginia'))

## TODO: Find unique addresses, geocode for those addresses, merge back into df

# uniqueSchools = pd.DataFrame({'school': list(tourneyData.school.unique())})
addresses = pd.DataFrame({'address': list(tourney.address.unique())})
addresses

# tmp = [gc.osm(i) for i in addresses.address]
tmp
expanded = [i.osm for i in tmp]
# expanded[0]['x']

# x = [i for i in range(len(expanded))]
# x
addresses['tmp'] = tmp
addresses['tmp'][0].osm['x']

x = []
y = []
for i in range(len(tmp)):
#     print(i)
    if tmp[i].osm is not None:
        x.append(tmp[i].osm['x'])
#     y.append(x[i]['x'])
x

[-78.94422972195878,
 -117.40304385396806,
 -79.04775326525107,
 -78.50549960183568,
 -84.47791570930522,
 -83.71003893509601,
 -84.50481984038481,
 -83.93042902947624,
 -91.18596767189877,
 -101.89959552302756,
 -95.3440627149137,
 -86.92391089364378,
 -80.42542518694935,
 -84.29747867166262,
 -95.2477503,
 -96.58844409645442,
 -75.3401787,
 -84.47083471474068,
 -84.5157620959388,
 -97.2933776,
 -85.49598606691626,
 -110.9768841153795,
 -85.75725134140214,
 -97.1102905567766,
 -123.07682891244703,
 -82.34901330482433,
 -86.17374943464813,
 -97.44570827599858,
 -80.27869157646253,
 -111.83687191368261,
 -122.23963364918777,
 -93.64464414737449,
 -89.4059387,
 -86.23822026017265,
 -76.94610290199051,
 -77.07457962060826,
 -76.1333088275183,
 -95.94506420758655,
 -117.07385052563076,
 -86.51623218881414,
 -83.02866259769122,
 -87.93155449905072,
 -106.62020940505188,
 -90.2316773318154,
 -92.32970301784542,
 -79.96243992762707,
 -111.64965648425293,
 -72.2540140374581,
 -97.73195598080218,
 -86.80281889095295,
 -89.93721959965887,
 -122.30800894320257,
 -122.16936535498309,
 -117.1452758931733,
 -89.21512201981972,
 -91.57318762552629,
 -71.16813864023061,
 -88.22402607254264,
 -80.2781152,
 -97.08853714697355,
 -75.24151166935775,
 -88.79345874498733,
 -84.39884086001581,
 -78.67408695452633,
 -84.17919478013708,
 -87.53967401518648,
 -83.37304904988295,
 -118.28586726915088,
 -89.53963491020966,
 -75.15628269523319,
 -73.9900726,
 -94.17609533911697,
 -81.02685165712111,
 -82.83743475607795,
 -72.52991477067445,
 -74.24685806216726,
 -96.70049096055014,
 -75.15401786487763,
 -87.65472633854412,
 -97.36119385339882,
 -77.45306424444706,
 -87.66842176669064,
 -81.0343313,
 -111.8867975,
 -83.0007065,
 -93.6037149,
 -81.655651,
 -95.9929113,
 -72.6908547,
 -121.8905833,
 -79.9900861,
 -97.3375448,
 -86.7743531,
 -80.8431268,
 -83.0466403,
 -96.7968559,
 -117.1627714,
 -116.200886,
 -78.8783922,
 -82.3984882,
 -86.1583502,
 -121.4943996,
 -81.3790304,
 -87.922497,
 -78.6390989,
 -117.4212265,
 -90.24111656024635,
 -73.9495823,
 -97.5170536,
 -71.4128343,
 -104.9653271,
 -85.759407,
 -95.9383758,
 -122.3300624,
 -122.6741949,
 -98.4951405,
 -84.1916069,
 -84.4970393,
 -94.5781416,
 -97.7436995,
 -75.1635262,
 -83.2341028,
 -79.7919754,
 -106.6509851,
 -81.6934446,
 -77.0365529,
 -82.458444,
 -87.6244212,
 -110.9748477,
 -90.0701156,
 -80.1936589,
 -92.2670941,
 -117.911732,
 -86.8024326,
 -80.2440518,
 -71.8022934,
 -71.0582912,
 -90.0516285,
 -73.5895167364443,
 -93.2654692,
 -84.3901849,
 -77.43428,
 -111.9400125,
 -76.610759,
 -73.754968,
 -84.2809332,
 -76.8966397,
 -111.9738429,
 -97.3183763,
 -82.6695085,
 -76.1474244,
 -87.8756737,
 -84.5124602,
 -76.9369189,
 -83.9210261,
 -53.8155345,
 -86.2500066,
 -118.2427666,
 -79.05578,
 -96.7077751,
 -91.18738,
 -95.3676974]