# Geocode School and Tournament Locations

## Import packages and data

In [1]:
import geocoder as gc
import pandas as pd

In [2]:
# import merged data set
tourney = pd.read_csv('../data/cleaned/tourney-metadata.csv')
tourney

,seed,school_common_name,site,year,id,school_full_name,team,city,state,type,conference
0,1.0,Duke,"Columbia, SC",2019.0,20190,Duke University,Blue Devils,Durham,North Carolina,Private/Non-sectarian,Atlantic Coast Conference
1,1.0,Gonzaga,"Salt Lake City, UT",2019.0,20191,Gonzaga University,Bulldogs,Spokane,Washington,Private/Catholic,West Coast Conference
2,1.0,North Carolina,"Columbus, OH",2019.0,20192,University of North Carolina at Chapel Hill,Tar Heels,Chapel Hill,North Carolina,State,Atlantic Coast Conference
3,1.0,Virginia,"Columbia, SC",2019.0,20193,University of Virginia,Cavaliers,Charlottesville,Virginia,State,Atlantic Coast Conference
4,2.0,Michigan State,"Des Moines, IA",2019.0,20194,Michigan State University,Spartans,East Lansing,Michigan,State,Big Ten Conference
...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,"Albuquerque, NM",NaN,1985555,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,"Hartford, CT",NaN,1985556,NaN,NaN,NaN,NaN,NaN,NaN
1117,NaN,NaN,"Tulsa, OK",NaN,1985557,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,"Dayton, OH",NaN,1985558,NaN,NaN,NaN,NaN,NaN,NaN
1119,NaN,NaN,"Salt Lake City, UT",NaN,1985559,NaN,NaN,NaN,NaN,NaN,NaN

## Create address column for schools from concatenated full names, cities, and states

In [3]:
# create address for geocoding by combining school name, city, and state
tourney['address'] = tourney.school_full_name + ' ' + tourney.city + ' ' + tourney.state
tourney

,seed,school_common_name,site,year,id,school_full_name,team,city,state,type,conference,address
0,1.0,Duke,"Columbia, SC",2019.0,20190,Duke University,Blue Devils,Durham,North Carolina,Private/Non-sectarian,Atlantic Coast Conference,Duke University Durham North Carolina
1,1.0,Gonzaga,"Salt Lake City, UT",2019.0,20191,Gonzaga University,Bulldogs,Spokane,Washington,Private/Catholic,West Coast Conference,Gonzaga University Spokane Washington
2,1.0,North Carolina,"Columbus, OH",2019.0,20192,University of North Carolina at Chapel Hill,Tar Heels,Chapel Hill,North Carolina,State,Atlantic Coast Conference,University of North Carolina at Chapel Hill Ch...
3,1.0,Virginia,"Columbia, SC",2019.0,20193,University of Virginia,Cavaliers,Charlottesville,Virginia,State,Atlantic Coast Conference,University of Virginia Charlottesville Virginia
4,2.0,Michigan State,"Des Moines, IA",2019.0,20194,Michigan State University,Spartans,East Lansing,Michigan,State,Big Ten Conference,Michigan State University East Lansing Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,"Albuquerque, NM",NaN,1985555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,"Hartford, CT",NaN,1985556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,NaN,NaN,"Tulsa, OK",NaN,1985557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,"Dayton, OH",NaN,1985558,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,NaN,NaN,"Salt Lake City, UT",NaN,1985559,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Use site column as address for sites

In [4]:
# subset data for rows that are mostly NAs, replace address column with site column
tourney.loc[tourney['seed'].isna(), 'address'] = tourney.site
tourney

,seed,school_common_name,site,year,id,school_full_name,team,city,state,type,conference,address
0,1.0,Duke,"Columbia, SC",2019.0,20190,Duke University,Blue Devils,Durham,North Carolina,Private/Non-sectarian,Atlantic Coast Conference,Duke University Durham North Carolina
1,1.0,Gonzaga,"Salt Lake City, UT",2019.0,20191,Gonzaga University,Bulldogs,Spokane,Washington,Private/Catholic,West Coast Conference,Gonzaga University Spokane Washington
2,1.0,North Carolina,"Columbus, OH",2019.0,20192,University of North Carolina at Chapel Hill,Tar Heels,Chapel Hill,North Carolina,State,Atlantic Coast Conference,University of North Carolina at Chapel Hill Ch...
3,1.0,Virginia,"Columbia, SC",2019.0,20193,University of Virginia,Cavaliers,Charlottesville,Virginia,State,Atlantic Coast Conference,University of Virginia Charlottesville Virginia
4,2.0,Michigan State,"Des Moines, IA",2019.0,20194,Michigan State University,Spartans,East Lansing,Michigan,State,Big Ten Conference,Michigan State University East Lansing Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,"Albuquerque, NM",NaN,1985555,NaN,NaN,NaN,NaN,NaN,NaN,"Albuquerque, NM"
1116,NaN,NaN,"Hartford, CT",NaN,1985556,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
1117,NaN,NaN,"Tulsa, OK",NaN,1985557,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
1118,NaN,NaN,"Dayton, OH",NaN,1985558,NaN,NaN,NaN,NaN,NaN,NaN,"Dayton, OH"
1119,NaN,NaN,"Salt Lake City, UT",NaN,1985559,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake City, UT"

In [80]:
# for i in tourney.address:
#     print(i)
#     x = gc.osm(i)
# print(x)

# x = tourney[tourney.school_common_name == 'Kentucky']
# x

# for i in x.address:
# tmp = [gc.osm(i) for i in x.address]
# print(tmp)
# z = [i.osm for i in tmp]
# z
# print(gc.osm('Morgantown West Virginia'))

## TODO: Find unique addresses, geocode for those addresses, merge back into df

# uniqueSchools = pd.DataFrame({'school': list(tourneyData.school.unique())})
addresses = pd.DataFrame({'address': list(tourney.address.unique())})
addresses

# tmp = [gc.osm(i) for i in addresses.address]
tmp
expanded = [i.osm for i in tmp]
# expanded[0]['x']

# x = [i for i in range(len(expanded))]
# x
addresses['tmp'] = tmp
addresses['tmp'][0].osm['x']

x = []
y = []
for i in range(len(tmp)):
#     print(i)
    if tmp[i].osm is not None:
        x.append(tmp[i].osm['x'])
#     else:
#         print(addresses.address[i])
#     y.append(x[i]['x'])
x

# University of California, Los Angeles Los Angeles California
# West Virginia University Morgantown West Virginia
# Texas A&M University College Station Texas
# University of Minnesota Minneapolis–Saint Paul Minnesota
# University of Nevada, Las Vegas Paradise Nevada

# gc.osm('University of California Los Angeles California')
# gc.osm('WVU Morgantown West Virginia')
# gc.osm('Texas A and M College Station Texas')
# gc.osm('University of Minnesota St. Paul Minnesota')
# gc.osm('UNLV Paradise Nevada')

<[OK] Osm - Geocode [University of Nevada, Las Vegas, 4505, Thomas and Mack Drive, Midtown UNLV, Paradise, Clark County, Nevada, 89154, United States of America]>